/*  Estilos Generales */

* {
    margin: 0;
    padding: 0;
}

input, button {
    all: unset;
}

:root {
    --blue: #0058c3;
    --light-blue: #026ced;
    --ultra-light-blue: #6badff;
    --light: white;
    --gray: rgb(196, 196, 196);
    --dark-gray: rgb(82, 82, 82);
    --light-gray: rgb(241, 241, 241);
    --ultralight-gray: #e5e5e5;
    --red: #dc0000;
    --dark-red: #950000;
    --green: #00951b;
    --dark-green: #006312;
    --tiempo: 100ms;
    --border-gray: 1px solid var(--gray)
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: var(--dark-gray);
    overflow: scroll;
}



/* Header */

header {
    background-color: var(--blue);
    display: flex;
    gap: .5em;
    align-items: center;
    color: var(--light);
    padding: 1em;
}

header #logo {
    max-height: 50px;
    width: auto;
}

header h1 {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
} 

/* Botones */

button {
    box-sizing: border-box;
    transition: var(--tiempo);
    cursor: pointer;
}

.btn {
    padding: .7rem;
    font-weight: 300;
    font-size: 0.8rem;
    border: 1px solid var(--gray);
}

.btn:hover {
    background-color: var(--gray);
    color: white;
}

.btn--azul {
    padding:calc(.7rem + 1px);
    border: none;
    background-color: var(--blue);
    color: var(--light);
}

.btn--azul:hover {
    background-color: var(--light-blue);
}

.btn--rojo {
    font-size: 120%;
    padding:calc(.7rem + 1px);
    border: none;
    background-color: var(--red);
    color: var(--light);
}

.btn--rojo:hover {
    background-color: var(--dark-red);
}

.btn--green {
    font-size: 120%;
    padding:calc(.7rem + 1px);
    border: none;
    background-color: var(--green);
    color: var(--light);
}

.btn--green:hover {
    background-color: var(--dark-green);
}


/* Nav */

nav {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}

#buscador {
    display: flex;
}

#input-buscador {
    padding: .5rem;
    min-width: 380px;
    width: 30%;
    border: 1px solid var(--gray);
}

#input-sucursal {
    padding: .5rem;
    width: 300px;
    border: 1px solid var(--gray);
}


#boton-buscador {
    border-left: none;
}

#input-actual{
    background-color: var(--blue);
    display: flex;
    transition: 500ms;
}

#input-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 4fr 1fr 3fr 5fr 1fr 1fr 1fr;
    gap: 1em;
}

#input-actual input {
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
    background-color: var(--light-blue);
    color: var(--light);
    font-size: 0.8rem;
}

#input-actual input::placeholder {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--ultra-light-blue);
}

/* Main */

section {
    text-align: center;
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr 3fr 5fr 1fr 3fr;
            /* <h2>ID</h2>
            <h2>Nombre</h2>
            <h2>Precio</h2>
            <h2>Link</h2>
            <h2>Stock</h2>
            <h2>Etiqueta</h2>
            <h2>Decripción</h2>
            <h2>Sucursal</h2>
            <h2>Editar</h2> */
}

#titulos {
    background-color: var(--light-gray);
    border-top: var(--border-gray);
    border-bottom: var(--border-gray);
}

#titulos h2 {
    font-size: 0.8rem;
}

.producto {
    border-bottom: var(--border-gray);
    font-size: 0.8rem;
    display: grid;
    align-items: center;
}

.producto:hover {
    background-color: var(--ultralight-gray);
} 

.producto--gray {
    background-color: var(--ultralight-gray);
}

.editar {
    display: flex;
    color: var(--blue);
    font-size: 1.5rem;
    padding-left: 1em;
    justify-content: center;
    gap: 0.5em;
}

.editar i {
    cursor: pointer;
}


.editar i:hover {
    cursor: pointer;
    color: var(--light-blue);
}

.editar .red {
    color: red;
}

.editar .green {
    color: green
}

/* Input Actual Hidden */

.hidden {
    display: none!important;
}

.show {
    animation: fadeInBottom 500ms backwards;
    display: flex!important;
}

/* Keyframes */

@keyframes fadeInBottom {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

/* Media Queries */

@media screen and (max-width: 720px) {
    nav {
        justify-content: center;
    }

    nav, h2, p, i {
        font-size: 80%;
    }
    #buscador {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        width: 100%;
    }

    #input-buscador {
        width: 90%;
    }

}

@media screen and (max-width: 600px) {
    *  {
        overflow: scroll;
    }
    
    .editar {
        padding-left: 0;
        gap: 0;
    } 
}
